$healingcolor : rgba(203, 1, 1, 0.450);
$backgroundhealing : rgba(41, 63, 57, 0.421);

// Import des keyframes
@import "keyframe";


html,body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: patrick , Tahoma, Geneva, Verdana, sans-serif;
}
